<!DOCTYPE html>
<html lang="en">
<head>
    <title>MachVive</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=2, minimum-scale=1, width=device-width, height=device-height"/>

    <link rel="preconnect"   href="https://arcanus55.github.io/" crossorigin>
    <link rel="preconnect"   href="https://neodigm.github.io/" crossorigin>
    <link rel="dns-prefetch" href="https://fonts.googleapis.com/" >
    <link rel="dns-prefetch" href="https://unpkg.com/" >

    <link rel="stylesheet" href="https://arcanus55.github.io/neodigm55/dist/neodigm55__v4_0.css"></link>
    <script src="https://arcanus55.github.io/neodigm55/dist/neodigm55__v4_0.js"></script>
    <link rel="stylesheet" href="https://arcanus55.github.io/neodigm55/dist/neodigm55_v1_0_launchComplete.css"></link>
    <script src="https://arcanus55.github.io/neodigm55/dist/neodigm55_v1_0_launchComplete.js"></script>

<!--
   _                                  🌑🌒🌓🌔🌕🌖🌗🌘🌑🌒🌓🌔🌕🌖🌗🌘🌑
  /_\  _ __ ___ __ _ _ __  _   _ ___  🌑🌒🌓🌑🌑🌑🌑🌑🌑🌒🌓🌑🌑🌑🌑🌑🌑
 //_\\| '__/ __/ _` | '_ \| | | / __| 🌑🌒🌓🌔🌕🌖🌗🌘🌑🌒🌓🌔🌕🌖🌗🌘🌑
/  _  \ | | (_| (_| | | | | |_| \__ \ 🌑🌑🌑🌑🌑🌑🌗🌘🌑🌑🌑🌑🌑🌑🌗🌘🌑
\_/ \_/_|  \___\__,_|_| |_|\__,_|___/ 🌑🌒🌓🌔🌕🌖🌗🌘🌑🌒🌓🌔🌕🌖🌗🌘🌑                                  
-->
<!-- (c) 1968-2032 🗝️ www.theScottKrause.com -->

    <meta property="og:title"       content="MachVive">
    <meta property="og:site_name"   content="MachVive">
    <meta property="og:url"         content="https://www.MachVive.com/">
    <meta property="og:description" content="MachVive is low-code, performant, responsive, and open source.">
    <meta property="og:type"        content="website">
    <meta property="og:image"       content="https://www.MachVive.com/img/MachVive_hero.jpg">
    <meta property="og:logo"        content="https://www.MachVive.com/img/MachVive_logo.jpg" />

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-title" content="MachVive" />
</head>

<body>
    <main>
        {{ partial "header.html" . }}
        <article role="main">
            <section class="pfmf-grid pfmf-grid__100">
                <div>
                    <p class="readable__doc">Put Content Here</p>
                </div>
            </section>
            <nav class="h-center">
                <a id="js-btn__contact"
                onClick="contact_form_iframe_sfdc.openCTA()"
                data-n55-enchanted-cta data-n55-enchanted-cta-dont-touch="true" data-n55-enchanted-cta-shape-off="true" data-n55-enchanted-cta-hover-an="true"
                data-n55-enchanted-cta-size="medium"
                data-n55-flash-theme="danger"
                data-n55-theme="night"
                data-n55-wired4sound-click="vibrate"
                ><span>Let's Talk</span><span>Contact Us</span>
                </a>
            </nav>
            <section class="pfmf-grid pfmf-grid__100">
                <div>
                    <p class="readable__doc">Put Content Here</p>
                </div>
            </section>
        </article>

        {{ partial "footer.html" . }}
    </main>
    
<script>
    const contact_form_iframe_sfdcCustom = {"contact_cta_theme": ["danger"],"contact_cta_oid": ["00D6A000002intt"]}
</script>
<neodigm-widget data-n55-widget-config="{conf:'', ampm:'',mobile:''}" data-n55-widget-id="contact_form_iframe_sfdc"></neodigm-widget>
<style>
    *::-webkit-scrollbar-thumb {
        background: var( --neodigm-theme-night, #000 );
    }
    *::-webkit-scrollbar-track {
        background: rgba(186, 186, 186, .2);
    }

    .readable__doc {
        color: #464646;
        margin: 4px;
        padding: 2px;
        font-family: 'Helvetica Neue', 'Helvetica', 'Roboto','Roboto Condensed', sans-serif;
        font-weight: 300;
        font-size: 1.12em;
        line-height: 1.24;
    }
 
    /*  MQ  */
    @media only screen and (min-width:48.1em){/* med *//* lg */

    }
</style>
</body>
</html>